<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'zoner/application', media: 'all'%>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= csrf_meta_tags %>
    <%= yield :header_script%>

    <title><%= ENV['WEBSITE_URL']%></title>

</head>

<%- if params[:action] == 'explore'%>
  <body class="page-sub-page page-listing page-grid page-search-results" id="page-top">
<%-elsif params[:action] == 'single'%>
  <body class="page-sub-page page-property-detail" id="page-top">
<%-else%>
  <body class="page-homepage navigation-fixed-top page-slider horizontal-search-float" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
<%- end %>
<!-- Wrapper -->
<div class="wrapper">
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact">
                    <figure><strong>Phone:</strong>+65 97919534</figure>
                    <figure><strong>Email:</strong>mybesthaven888@gmail.com</figure>
                </div>
                <div class="user-area">
                    <div class="actions">
                        <a href="<%= new_user_registration_url %>" class="promoted"><strong>Register</strong></a>
                        <a href="<%= new_user_session_url%>">Sign In</a>
                    </div>
                    <!--<div class="language-bar">
                        <a href="#" class="active"><img src="assets/img/flags/gb.png" alt=""></a>
                        <a href="#"><img src="assets/img/flags/de.png" alt=""></a>
                        <a href="#"><img src="assets/img/flags/es.png" alt=""></a>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <%= render partial: 'zoner/navigation'%>
    </div><!-- /.navigation -->

    <% if params[:action] == 'home'%>
    <!-- Slider -->
    <div id="slider" class="loading has-parallax">
        <div id="loading-icon"><i class="fa fa-cog fa-spin"></i></div>
        <div class="owl-carousel homepage-slider carousel-full-width">
            <% Property.all.each do |property|%>
              <div class="slide">
                  <div class="container">
                      <div class="overlay">
                          <div class="info">
                              <div class="tag price"><%= number_to_human(property.unit_price, format: "Php %n %u++")%></div>
                              <h3><%= property.name%></h3>
                              <figure><%= property.location%></figure>
                          </div>
                          <hr>
                          <a href="<%=single_pages_url(property_id: property.id)%>" class="link-arrow">Read More</a>
                      </div>
                  </div>
                  <img alt="" src="<%= property.images.first.url%>">
              </div>
            <% end %>
        </div>
    </div>
    <%= render partial: 'zoner/search_box'%>
    <% end %>
    <%= yield %>
    <%= render partial: 'zoner/footer' if params[:action] != 'single'.freeze%>
</div>
<%= render partial: 'zoner/footer' if params[:action] == 'single'.freeze%>

<div id="overlay"></div>

<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->
<%= javascript_include_tag 'zoner/application'%>
<%= yield :script%>

</body>
</html>
