<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'zoner/application', media: 'all'%>
    <%= csrf_meta_tags %>
    <%= yield :header_script%>

    <title><%= ENV['WEBSITE_URL']%></title>

</head>

<body class="page-homepage navigation-fixed-top page-slider horizontal-search-float" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
<!-- Wrapper -->
<div class="wrapper">

    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact">
                    <figure><strong>Phone:</strong>+1 810-991-3842</figure>
                    <figure><strong>Email:</strong>zoner@example.com</figure>
                </div>
                <div class="user-area">
                    <div class="actions">
                        <a href="create-agency.html" class="promoted">Create Agency</a>
                        <a href="create-account.html" class="promoted"><strong>Register</strong></a>
                        <a href="sign-in.html">Sign In</a>
                    </div>
                    <!--<div class="language-bar">
                        <a href="#" class="active"><img src="assets/img/flags/gb.png" alt=""></a>
                        <a href="#"><img src="assets/img/flags/de.png" alt=""></a>
                        <a href="#"><img src="assets/img/flags/es.png" alt=""></a>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div><!-- /.navigation -->

    <% if params[:action] == 'home'%>
    <!-- Slider -->
    <div id="slider" class="loading has-parallax">
        <div id="loading-icon"><i class="fa fa-cog fa-spin"></i></div>
        <div class="owl-carousel homepage-slider carousel-full-width">
            <% Property.all.each do |property|%>
              <div class="slide">
                  <div class="container">
                      <div class="overlay">
                          <div class="info">
                              <div class="tag price">$ 11,000</div>
                              <h3>3398 Lodgeville Road</h3>
                              <figure>Golden Valley, MN 55427</figure>
                          </div>
                          <hr>
                          <a href="property-detail.html" class="link-arrow">Read More</a>
                      </div>
                  </div>
                  <img alt="" src="<%= property.images.first.url%>">
              </div>
            <% end %>
        </div>
    </div>
    <%= render partial: 'zoner/search_box'%>
    <% end %>
    <%= yield %>
    <%= render partial: 'zoner/footer'%>
</div>

<div id="overlay"></div>

<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->
<%= javascript_include_tag 'zoner/application'%>
<%= yield :script%>

</body>
</html>
